{% extends 'base.html' %} {% block content %}
<div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">About</h1>
          <p>The "Riddle Me This" application has been developed in part completion of the Code Institute,
              Full Stack Web Developer course. The course leads to the attainment of the Code Institute 
              Diploma in Software Development.</p>
          <img src="{{ url_for('static', filename='img/code_inst.png') }}" class="code_inst">
        </div>
      </div>
{% endblock %}