{% extends 'base.html' %} {% block content %}
<div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">RIDDLE ME THIS</h1>
            <p class="lead">Welcome to "Riddle Me This" puzzle game. It is designed to entertain and challenge your
                puzzle solving abilities. We hope you have fun trying to crack our riddles.</p>
            <hr>
            <h2>How to Play</h2>
            <p>To play the game, you must first register a username so that we can keep track of
                your progress. If you have already registered, then login and see if you can beat your
                score from last time. To complete the game and register a score on our scoreboard, you
                must answer all ten riddles. You can only move onto the next riddle once you have 
                answered the current one correctly.</p>
            <hr>
            <h2>Scoring System</h2>
            <p>The scoring system is based on how many attempts it takes you to answer the riddle:</p>
            <ul class="list-unstyled">
                <li>Attempt 1 = 9 points</li>
                <li>Attempt 2 = 6 points</li>
                <li>Attempt 3 = 3 points</li>
                <li>Other Attempts = 1 point</li>
            </ul>
            <h3>Enjoy !!</h3>
            <hr>
            <a class="btn btn-primary" href="{{ url_for('register') }}">Register</a>
            <hr>
            <form method="POST" class="pure-form" action="/">
                <input type="text" class="pure-input-rounded" name="username" id="username" placeholder="Username">
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
             <p class="feedback lead">{{ login_feedback }}</p>
            <hr>
        </div>
      </div>
{% endblock %}